@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1696939210274') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuofan:before {
  content: "\e728";
}

.icon-shu:before {
  content: "\e632";
}

.icon-zhangyu:before {
  content: "\e68e";
}

.icon-w_ren:before {
  content: "\e672";
}

